fieldset, legend {
    all: revert;
 }
 .fa-magnifying-glass{
    color: white;
 }
 .input-group-text{
    background-color: #5156BE;
    color: white;
 }

.bg-agg{
background-color:#98B4B5;
color: white;
}
.bg-delete{
   background-color: #474554;
   color: white;
}

[data-title]:hover:after {
   opacity: 1;
   transition: all 0.1s ease 0.5s;
   visibility: visible;
}
[data-title]:after {
   content: attr(data-title);
   background-color: #666666;
   color: #fff;
   font-size: 14px;
   font-family: Raleway;
   position: absolute;
   padding: 3px 20px;
   bottom: -1.6em;
   left: 100%;
   white-space: nowrap;
   box-shadow: 1px 1px 3px #222222;
   opacity: 0;
   border: 1px solid #111111;
   z-index: 99999;
   visibility: hidden;
   border-radius: 6px;
   
}
[data-title] {
   position: relative;
}