<div class="row ">
    <app-loading>
        <div class="col-xl-12 mt-5 px-2">
            <div class="row ">
                <div class="col-xl-6 px-3">
                    <div class="row">
                        <div class="col-xl-6 col-md-4 mt-2">
                            <label class="form-label">Tipo Documento</label>
                            <input class="form-control form-control-sm text-uppercase" name="tipoDocumento">
                        </div>
                        <div class="col-xl-6 col-md-5 mt-2">
                            <label class="form-label">N° Documento</label>
                            <input class="form-control form-control-sm text-uppercase" name="numeroDcoumento">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-6 mt-2">
                            <label class="form-label">App. Paterno</label>
                            <input class="form-control form-control-sm text-uppercase" name="apellidoPaterno">
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 mt-2">
                            <label class="form-label">App. Materno</label>
                            <input class="form-control form-control-sm text-uppercase" name="apellido_materno">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-6 mt-2">
                            <label class="form-label">Primer Nombre</label>
                            <input class="form-control form-control-sm text-uppercase" name="primerNombre">
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 mt-2">
                            <label class="form-label">Segundo Nombre</label>
                            <input class="form-control form-control-sm text-uppercase" name="segundoNombre">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-3 col-md-3 mt-2">
                            <label class="form-label" for="inpNac">Fecha Nacimiento</label>
                            <input type="date" class="form-control form-control-sm" id="inpNac" name="fechaNacimiento">
                        </div>

                        <div class="col-xl-2 mt-2">
                            <label class="form-label" for="inpNac">Edad</label>
                            <div class="  input-group  input-group-sm">
                                <div class="input-group-text">A</div>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-xl-2 mt-2">
                            <label class="form-label" for="inpNac">&nbsp;</label>
                            <div class="  input-group  input-group-sm">
                                <div class="input-group-text">M</div>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-xl-2 mt-2">
                            <label class="form-label" for="inpNac">&nbsp;</label>
                            <div class="  input-group  input-group-sm">
                                <div class="input-group-text">D</div>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-3 mt-2">
                            <label class="form-label">Sexo</label>
                            <input class="form-control form-control-sm text-uppercase" name="segundoNombre">
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-6 mt-2">
                            <label class="form-label">Teléfono</label>
                            <input class="form-control form-control-sm text-uppercase" name="telefono">
                        </div>
                        <div class="col-xl-5 col-md-6 col-sm-6 mt-2">
                            <label class="form-label">Celular</label>
                            <input class="form-control form-control-sm text-uppercase" name="celular">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-6 mt-2">
                            <label class="form-label">Direccion</label>
                            <input class="form-control form-control-sm text-uppercase" name="telefono">
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </app-loading>
</div>