<div #modalVerCompensacion class="modal fade" tabIndex="-1" *teleportTo="'body'">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Informacion Detallada</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
                </button>
            </div>
            <div class="modal-body">
                <app-loading [mostrar]="loading">
                    <div class="row ">
                   
                                <div class="col-xl-12 px-0">
                                    <div class="row w-100 d-block">
                                        <embed [src]="prevArchivo"  style="height:70vh;" >
                                    </div>
                                </div>
                  </div>
                </app-loading>
                <div class="modal-footer justify-content-between">

                    <div>
                        <button class="btn btn-danger waves-light waves-effect btn-label m-1" type="button"
                            (click)="closeModal()">
                            Salir &ensp;<i class="fas fa-door-open label-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

