// Tabla
.table tbody tr {
    vertical-align: middle;
}

.logo-navbar {
    background-image: url("../assets/img/logo_honadomani.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img-profile {
    background-image: url("../assets/img/logo-hsb.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img-not-found {
    background-image: url("../assets/img/error-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -20;
}

.logo-login {
    background-image: url("../assets/img/logo_honadomani.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
ng-select {
    height: 34px!important;
    min-height: 34px!important;
  }

.ng-select.ng-select-single .ng-select-container {
    height: 30px;
}