<div #modalResumen class="modal fade" tabIndex="-1" *teleportTo="'body'">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @if (tipo == 1) {
                        Nuevo Documento
                    } @else {
                        Editar Documento 
                    }</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
                </button>
            </div>
            <div class="modal-body">
                <app-loading [mostrar]="loading">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label" style="font-size: 12px;">Mes:</label>
                              </div>
                              <div class="col">
                                <select name="" id="" class="form-select form-select-sm"   [(ngModel)]="formulario.mes" >
                                    <option value="1">Enero</option>
                                    <option value="2">Febrero</option>
                                    <option value="3">Marzo</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Mayo</option>
                                    <option value="6">Junio</option>
                                    <option value="7">Julio</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Setiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>


                                </select>
                              </div>
                        </div>
                       <div class="col-12 mb-2">
                        <label for="" class="form-label">Año</label>
                        <input type="text" class="form-control form-control-sm " id=""  [(ngModel)]="formulario.year" >
                       </div>
                       <div class="col-12">
                        <label for="" class="form-label">Archivo DATOSPLH (.xlsx)</label>
                        <input class="form-control form-control-sm" id="formFileSm" type="file"   accept="" (change)="archivoDatos($event)">
                       </div>
                                                                                  
                    </div>

                   
                </app-loading>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary waves-effect waves-light btn-label" type="button"
                     (click)="generarResumen()"   >Guardar &ensp;<i
                    class="fa-solid fa-floppy-disk label-icon"></i></button>
                <button class="btn btn-danger waves-light waves-effect btn-label" type="button" (click)="closeModal()">
                    Salir &ensp;<i
                    class="fas fa-door-open label-icon"></i></button>
            </div>
        </div>
    </div>
</div>


