<app-breadcrumb [rutas]="rutas" [titulo]="'Datos Gnerales'"></app-breadcrumb>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-auto col-md-auto col-sm-auto">
                        <button 
                                class="btn w-100 btn-sm btn-primary waves-light waves-effect btn-label"
                                [disabled]="!agregable">
                            <i class="fa fa-file label-icon"></i> Nuevo Personal
                        </button>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-xl-12">
                        <app-loading [mostrar]="loading">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-sm">
                                            <thead>
                                            <tr>
                                                <th *ngFor="let cabecera of cabeceras;" class="{{cabecera.clase}}"
                                                    style="{{cabecera.estilo}}">{{ cabecera.nombre }}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <button
                                                        class="btn w-100 btn-sm btn-danger waves-effect waves-light"
                                                        (click)="limpiarCampos()">Limpiar
                                                    </button>
                                                </th>
                                                <th>
                                                    <input #inpFocus
                                                           inputmode="text"
                                                           class="form-control form-control-sm text-uppercase"
                                                           name="filtroDocumento" [(ngModel)]="filtroDocumento"
                                                           (keydown.enter)="filtrarEmpleado()">
                                                </th>
                                                <th></th>
                                                <th>
                                                    <input
                                                        inputmode="text"
                                                        class="form-control form-control-sm text-uppercase"
                                                        name="appPaternoFiltro"
                                                        [(ngModel)]="filtroAppPaterno"
                                                        (keydown.enter)="filtrarEmpleado()">
                                                </th>
                                                <th>
                                                    <input
                                                        inputmode="text"
                                                        class="form-control form-control-sm text-uppercase"
                                                        name="appMaternoFiltro"
                                                        [(ngModel)]="filtroAppMaterno"
                                                        (keydown.enter)="filtrarEmpleado()">
                                                </th>
                                                <th>
                                                    <input
                                                        inputmode="text"
                                                        class="form-control form-control-sm text-uppercase"
                                                        name="nomPrimeroFiltro"
                                                        [(ngModel)]="filtroNomPrimer"
                                                        (keydown.enter)="filtrarEmpleado()">
                                                </th>
                                                <th>
                                                    <input
                                                        inputmode="text"
                                                        class="form-control form-control-sm text-uppercase"
                                                        name="nomSegundoFiltro"
                                                        [(ngModel)]="filtroNomSegundo"
                                                        (keydown.enter)="filtrarEmpleado()">
                                                </th>
                                                <th><input
                                                    inputmode="text"
                                                    type="text" class="form-control form-control-sm text-center"
                                                    name="filtroUnidadOrganica" [(ngModel)]="filtroUnidadOrganica"
                                                    (keydown.enter)="filtrarEmpleado()">
                                                </th>
                                                <th><input
                                                    inputmode="text"
                                                    type="text" class="form-control form-control-sm text-center"
                                                    name="filtroServicioEquipo" [(ngModel)]="filtroServicioEquipo"
                                                    (keydown.enter)="filtrarEmpleado()">
                                                </th>
                                           
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <ng-template [ngIf]="datos.length !== 0" [ngIfElse]="vacio">
                                                <tr *ngFor="let dato of datos">
                                                    <td>
                                                        <div class="d-flex gap-1 flex-wrap">
                                                            @if (dato.estado !== '*') {
                                                                <button [bsTooltip]="'Editar'"
                                                                        class="btn btn-sm waves-light waves-effect btn-primary"
                                                                         (click)="editarEmpleado(dato.numeroDocumento)">
                                                                    <i class="fa fa-pencil"></i></button>
                                                                <button [bsTooltip]="'ver'"
                                                                        class="btn btn-sm waves-light waves-effect btn-primary"
                                                                        (click)="verDatos(dato.numeroDocumento)"
                                                                        >
                                                                <i class="fa fa-eye"></i></button>
                                                               
                                                            } @else {
                                                                <p></p>
                                                            }
                                                        </div>
                                                    </td>
                                                    <td class="text-center">{{ dato.numeroDocumento}}</td>
                                                    <td class="text-center">{{ dato.tipoDocumento}}</td>
                                                    <td>{{ dato.apellidoPaterno }}</td>
                                                    <td>{{ dato.apellidoMaterno }}</td>
                                                    <td>{{ dato.primerNombre }}</td>
                                                    <td>{{ dato.segundoNombre }}</td>
                                                    <td >{{ dato.unidadOrganica }}</td>
                                                    <td >{{ dato.servicioEquipo }}</td>
                                                </tr>
                                            </ng-template>
                                            <ng-template #vacio>
                                                <tr>
                                                    <td class="text-center" [colSpan]="cabeceras.length">No hay
                                                        resultados
                                                    </td>
                                                </tr>
                                            </ng-template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <app-paginado [datos]="datos" [(longitud)]="longitud" [pagina]="pagina"
                                          (cambioVer)="filtrarEmpleado()"
                                          [ver]="true" (cambioPagina)="cambioPagina($event)"></app-paginado>
                        </app-loading>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-datos></app-modal-datos>
