.limpiar{
    text-align: center !important;
}
.bg-secundary-new{
    background-color: #006FCE;
    color: white;
}
.bg-activo{
    background-color: #00999C;
  }
  .bg-historico{
    background-color: #474554;
  }