<div #modalDatos class="modal fade" tabIndex="-1" *teleportTo="'body'">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
                </button>
            </div>
            <div class="modal-body">
                <app-loading [mostrar]="loading">
                    <div class="card mb-2">
                        <div class="card-body pt-1">
                        
                        </div>
                    </div>
                    <nav>
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="personal-tab" data-bs-toggle="tab" #tabDatos
                                   data-bs-target="#nav-personal" type="button" role="tab"
                                   aria-controls="home-tab-pane" aria-selected="true">Datos Personales
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="familiar-tab" data-bs-toggle="tab" #tabFamilia
                                   data-bs-target="#nav-familiar" type="button" role="tab"
                                   aria-controls="disabled-tab-pane" aria-selected="false">Datos Familiares
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link border-1" id="nacimiento-tab" data-bs-toggle="tab"
                                   #tabNacimiento
                                   data-bs-target="#nav-nacimiento" type="button" role="tab"
                                   aria-controls="profile-tab-pane" aria-selected="false">Datos Nacimiento
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="adicional-tab" data-bs-toggle="tab"
                                   #tabAdicional
                                   data-bs-target="#nav-adicional" type="button" role="tab"
                                   aria-controls="disabled-tab-pane" aria-selected="false">Datos Adicionales
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-personal" role="tabpanel"
                              aria-labelledby="nav-home-tab">
                        <app-tab-datos-personales></app-tab-datos-personales>
                        </div>
                        <div class="tab-pane fade" id="nav-familiar" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                    
                        </div>
                        <div class="tab-pane fade" id="nav-nacimiento" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                        
                        </div>
                        <div class="tab-pane fade" id="nav-adicional" role="tabpanel"
                             aria-labelledby="nav-adicional-tab">
                      
                        </div>
                    </div>
                </app-loading>
            </div>
            <div class="modal-footer justify-content-between">
                
                <div>
                    <button class="btn btn-danger waves-light waves-effect btn-label m-1" type="button"
                            (click)="closeModal()">
                        Salir &ensp;<i class="fas fa-door-open label-icon"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


