<div class="row">
    <app-loading [mostrar]="loading" [mensaje]="mensajeLoading">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-3 col-md-4 mt-2" [formGroup]="historiaForm">
                    <label class="form-label">Tipo Documento</label>
                    <select class="form-select form-select-sm"
                            #selTipoDocumento
                            (change)="historiaForm.controls['documento'].setValue('')"
                            bsInvalid
                            formControlName="tipoDocumento" name="tipoDocumento">
                        <option *ngFor="let tipoDocumento of tipoDocumentos"
                                [ngValue]="tipoDocumento.id">
                            {{ tipoDocumento.descripcion_larga | uppercase }}
                        </option>
                    </select>
                </div>
                <div class="col-xl-4 col-md-5 mt-2" [formGroup]="historiaForm">
                    <label class="form-label">Documento</label>
                    <div class="input-group input-group-sm">
                        <input inputmode="text"
                               class="form-control form-control-sm text-uppercase" bsInvalid
                               formControlName="documento"
                               (keydown.enter)="buscarDocumento()"
                               name="documento">
                        <button bsTooltip="Buscar"
                                (click)="buscarDocumento()"
                                class="btn btn-primary btn-sm waves-effect waves-light"
                                type="button" [disabled]="busquedaDocumento"><i class="fa fa-search"></i>
                        </button>
                        <button (click)="borrarDatosRENIEC()"
                                class="btn btn-sm btn-danger waves-effect waves-light" [disabled]="!limpiarDocumento">
                            <i class="fa fa-close"></i>
                        </button>
                        <div class="invalid-feedback">
                            Campo obligatorio
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-6 mt-2" [formGroup]="historiaForm">
                    <label class="form-label">App. Paterno</label>
                    <input class="form-control form-control-sm text-uppercase"
                           bsInvalid
                           formControlName="apellidoPaterno"
                           name="apellidoPaterno">
                    <div class="invalid-feedback">
                        Campo obligatorio
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 mt-2" [formGroup]="historiaForm">
                    <label class="form-label">App. Materno</label>
                    <input class="form-control form-control-sm text-uppercase"
                           bsInvalid
                           formControlName="apellidoMaterno"
                           name="apellido_materno">
                    <div class="invalid-feedback">
                        Campo obligatorio
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 mt-2" [formGroup]="historiaForm">
                    <label class="form-label">Primer Nombre</label>
                    <input class="form-control form-control-sm text-uppercase"
                           bsInvalid
                           formControlName="primerNombre"
                           name="primerNombre">
                    <div class="invalid-feedback">
                        Campo obligatorio
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 mt-2" [formGroup]="historiaForm">
                    <label class="form-label">Segundo Nombre</label>
                    <input class="form-control form-control-sm text-uppercase"
                           formControlName="segundoNombre"
                           name="segundoNombre">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-3 mt-2" [formGroup]="historiaForm">
                    <label class="form-label" for="inpNac">Fecha Nacimiento</label>
                    <input type="date" class="form-control form-control-sm" id="inpNac"
                           bsInvalid
                           formControlName="fechaNacimiento"
                           [max]="tiempoActual"
                           name="fechaNacimiento">
                    <div class="invalid-feedback">
                        Campo obligatorio
                    </div>
                </div>
                <div class="col-xl-1 col-md-2 col-sm-4 col-4 mt-2" [formGroup]="edadForm">
                    <label class="form-label" for="inpEdadA">Edad</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-sm"
                               id="inpEdadA"
                               formControlName="anios"
                               name="anios">
                        <span class="input-group-text">A</span>
                    </div>
                </div>
                <div class="col-xl-1 col-md-2 col-4 column-gap-sm-3 mt-2 justify-content-end" [formGroup]="edadForm">
                    <label class="form-label" for="inpEdadM">&nbsp;</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-sm" id="inpEdadM"
                               formControlName="meses"
                               name="meses">
                        <span class="input-group-text">M</span>
                    </div>
                </div>
                <div class="col-xl-1 col-md-2 col-sm-4 col-4 mt-2" [formGroup]="edadForm">
                    <label class="form-label" for="inpEdadD">&nbsp;</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-sm" id="inpEdadD"
                               formControlName="dias"
                               name="dias">
                        <span class="input-group-text">D</span>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 mt-2" [formGroup]="historiaForm">
                    <label class="form-label" for="selSexo">Sexo</label>
                    <select class="form-select form-select-sm" id="selSexo"
                            bsInvalid
                            formControlName="sexo"
                            name="sexo">
                        <option *ngFor="let sexo of sexos" [value]="sexo.id">
                            {{ sexo.descripcion_corta }}
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        Campo obligatorio
                    </div>
                </div>
                <div class="col-xl-2 col-md-2 mt-2" [formGroup]="historiaForm">
                    <label class="form-label" for="inpEmail">Email</label>
                    <input #inpEmail
                           bsInvalid
                           class="form-control form-control-sm" id="inpEmail" type="text"
                           formControlName="email"
                           name="email">
                    <div class="invalid-feedback">
                        Email no valido
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 mt-2" [formGroup]="historiaForm">
                    <label class="" for="inpMovil">Teléfono / Celular</label>
                    <input class="form-control form-control-sm"
                           bsInvalid
                           id="inpMovil" type="text"
                           formControlName="telefono"
                           name="telefono">
                    <div class="invalid-feedback">
                        Formato incorrecto. Solo números.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-md-2 mt-2" [formGroup]="direccionForm">
                    <label class="form-label" for="selTD">Tipo Dirección</label>
                    <select class="form-select form-select-sm" id="selTD"
                            formControlName="tipoDireccion"
                            name="tipoDireccion">
                        <option *ngFor="let tipoDireccion of tipoDirecciones"
                                [value]="tipoDireccion.id">
                            {{ tipoDireccion.descripcion_corta | uppercase }}
                        </option>
                    </select>
                </div>
                <div class="col-xl-6 col-md-10 mt-2" [formGroup]="direccionForm">
                    <label class="form-label" for="inpDireccion">Dirección</label>
                    <input bsInvalid class="form-control form-control-sm text-uppercase" id="inpDireccion"
                           formControlName="direccion"
                           name="direccion" type="text">
                    <div class="invalid-feedback">
                        Campo obligatorio
                    </div>
                </div>
                <div class="col-xl-1 col-md-3 col-sm-3 col-3 mt-2" [formGroup]="direccionForm">
                    <label class="form-label" for="inpNDir">Numero</label>
                    <input class="form-control form-control-sm" id="inpNDir" type="text"
                           formControlName="numero"
                           name="numero">
                </div>
                <div class="col-xl-1 col-md-3 col-sm-3 col-3 mt-2" [formGroup]="direccionForm">
                    <label class="form-label" for="inpIntDir">Interior</label>
                    <input class="form-control form-control-sm" id="inpIntDir" type="text"
                           formControlName="interior"
                           name="interior">
                </div>
                <div class="col-xl-1 col-md-3 col-sm-3 col-3 mt-2" [formGroup]="direccionForm">
                    <label class="form-label" for="inpMzaDir">Mza</label>
                    <input class="form-control form-control-sm" id="inpMzaDir" type="text"
                           formControlName="manzana"
                           name="manzana">
                </div>
                <div class="col-xl-1 col-md-3 col-sm-3 col-3 mt-2" [formGroup]="direccionForm">
                    <label class="form-label" for="inpLoteDir">Lote</label>
                    <input class="form-control form-control-sm" id="inpLoteDir" type="text"
                           formControlName="lote"
                           name="lote">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-md-2 mt-2" [formGroup]="direccionForm">
                    <label class="form-label" for="selTL">T. Localidad</label>
                    <select class="form-select form-select-sm" id="selTL"
                            formControlName="tipoLocalidad"
                            name="tipoLocalidad">
                        <option *ngFor="let tipoLocalidad of tipoLocalidades"
                                [value]="tipoLocalidad.id">
                            {{ tipoLocalidad.descripcion_corta | uppercase }}
                        </option>
                    </select>
                </div>
                <div class="col-xl-10 col-md-10 mt-2" [formGroup]="direccionForm">
                    <label class="" for="inpLocalidad">Localidad</label>
                    <input class="form-control form-control-sm text-uppercase" id="inpLocalidad"
                           formControlName="localidad"
                           type="text" name="localidad">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-3 mt-2" [formGroup]="direccionForm">
                    <label class="form-label" for="inpUbigeo">Ubigeo</label>
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-sm" id="inpUbigeo"
                               bsInvalid
                               formControlName="ubigeo"
                               (keydown.enter)="obtenerUbigeoDireccion()"
                               name="ubigeo">
                        <button (click)="seleccionarDireccion()"
                                class="btn btn-primary waves-effect waves-light px-2"
                                [disabled]="borraUbigeo"
                                bsTooltip="Lista Ubigeos"><i
                            class="fa fa-list"></i>
                        </button>
                        <div class="invalid-feedback">
                            Campo obligatorio
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-md-9 mt-2" [formGroup]="direccionForm">
                    <label class="" for="inpDescUbigeo">Descripción Ubigeo</label>
                    <input class="form-control form-control-sm text-uppercase"
                           formControlName="descripcionUbigeo"
                           id="inpDescUbigeo" name="descripcionUbigeo">
                </div>
            </div>
        </div>
    </app-loading>
</div>

